@use '../../styles/globals' as *;

.header {
    height: 6.25rem;
    width: 100vw;
    background-color: rgb(116, 196, 92);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        display: flex;
        flex-direction: row;
        width: 15.625rem;
    }
    &__list li {
        font-size: 1.25rem;
        padding: .5rem;

    }
    &__logo {
        height: 15rem;
        margin-top: 2%;
    }
    &__hero {
        font-size: 1.75rem;
    }
}