@use '../../styles/globals' as *;
@use "../../styles/variables" as *;

.ic {
    height: 800px;
    width: 390px;
    background-color: $primary-blue-steel-over;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    &__image-box {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: bisque;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    &__email {
        font-size: 16px;
        display: flex;
        color: white;
    }
    &__email-box {
        display: flex;
        justify-content: center;
        }
}

