// @use "../../styles/variables" as *;

$primary-dark-blue: #162052;
$primary-blue: #00ccff;
$primary-pink: #d400d4;
$primary-snow: #FFFAFA;



// width: 60px;
// border-radius: 16px;
// font-size: 10px;
// padding: 2px;
// background-color: black;
// color: whitesmoke;

// rgba(16, 122, 76, 0.815