// @use "../../styles/variables" as *;

$primary-blue-steel-over: rgb(98,195,196);


$secondary-input: bisque;
$secondary-red: #d47f7ff1;

// width: 60px;
// border-radius: 16px;
// font-size: 10px;
// padding: 2px;
// background-color: black;
// color: whitesmoke;

// rgba(16, 122, 76, 0.815