@use '../../styles/globals' as *;
@use "../../styles/variables" as *;

.deal {
    background-color: $primary-dark-blue;
    height: 50rem;
    width: 24.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__calendar {
        width: 18.75rem;
        height: 18.75rem;
        border: .125rem solid $primary-blue;
    }
}

.calendarWrap {
    display: inline-block;
    position: relative;
    text-align: center;
}
input.inputBox {
width: 21.25rem;
font-size: 1.5rem;
padding: .625rem;
border-radius: .5rem;
border: .125rem solid $primary-snow;
background-color: $primary-blue;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1.25rem;
    border: .0625rem solid $primary-dark-blue;
    z-index: 999;
}