@use '../../styles/globals' as *;

.header {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px double rgb(1, 14, 12);
    &__hero {
        font-size: 22px;
        padding-left: 40px;
        color: black;
    }
    &__list {
        display: flex;
        align-items: center;
        width: 200px;
        
    }
    &__register {
        padding: 0 30px;
        color: black;
        font-size: 18px;


        
    }
    &__login {
        font-size: 18px;
        color: black;
    }
}