@use '../../styles/globals' as *;
@use "../../styles/variables" as *;

.header {
    height: 4.0625rem;
    width: 100%;
    background-color: $primary-dark-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .0625rem double $primary-blue;
    
    &__hero {
        font-size: 1.375rem;
        width: 9.375rem;
        padding-left: 1.25rem;
        color: $primary-snow;
    }
    &__list {
        display: flex;
        align-items: center;
        width: 15.625rem;
        
    }
    &__register {
        padding: 0 3.125rem;
        color: $primary-snow;
        font-size: 1.125rem;
    }
    &__login {
        font-size: 1.125rem;
        color: $primary-snow;
    }
}