@use '../../styles/globals' as *;
@use "../../styles/variables" as *;

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: $primary-blue-steel-over;
    &__image {
        width: 400px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 250px;
        background-color: lightgreen;
        padding: 5%;
        margin-top: 5%;
    }
}