@use "../../styles/globals" as *;
@use "../../styles/variables" as *;

.upload {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 37.5rem;
  background-color: #162052;
  padding: 4%;
  &__form {
    height: 100%;
    width: 24.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }
  &__input {
    margin: 1.25rem;
    padding: .625rem;
    width: 17.5rem;
    border: .875rem groove $primary-blue;
    font-size: 1.25rem;
    background-color: $primary-snow;
    color: $primary-dark-blue;
    &:hover {
        outline:none;
        cursor: pointer;
    }
    &:active {
        outline:none;
    }
    &:focus {
          outline: none;
          // border: .0625rem solid black;
        }
}
&__image-preview {
  height: 15.625rem;
  width: 24.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
&__image-view {
  height: 15.625rem;
  width: 20rem;
  border-radius: 5%;
}
&__header {
  font-size: 2rem;
  color: $primary-blue;
}
&__user {
  font-size: 1.25rem;
  color: $primary-snow;
}
}