@use "../../styles/globals" as *;
@use "../../styles/variables" as *;

.achieve {
    &__header {
        font-size: 36px;
        margin: 1rem;
        padding-left: 3rem;
    }
    
    &__image {
        height: 50px;
        width: 50px;
        &-box{
            display: flex;
            align-items: center;
        }
        
    }
    &__text {
        font-size: 16px;
        color: black;
    }
    &__card {
        background-color: bisque;
        width: 300px;
        height: 50px;
        border-radius: 20px;
        margin: 1rem;
        display: flex;
        padding: 1rem
    }
    &__invite {
        background-color: bisque;
        border: none;
        padding: 5px;
    }
}