@use '../../styles/globals' as *;
@use "../../styles/variables" as *;

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &__input {
        margin: 1.25rem;
        padding: .625rem;
        width: 17.5rem;
        border: .375rem groove $primary-blue;
        font-size: 1.25rem;
        background-color: $primary-snow;
        color: $primary-dark-blue;
        &:hover {
            outline:none;
            cursor: pointer;
        }
        &:active {
            outline:none;
        }
    }
    &__text {
        margin: 1.25rem;
        font-size: 1.25rem;
        color: $primary-snow;
    }
    &__top-text {
        margin: 1.25rem;
        font-size: 1.75rem;
        color: $primary-snow;
    }
    &__header {
        margin-top: 10%;
        font-size: 2rem;
        padding: 5%;
        color: $primary-blue;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button-box {
        margin-top: 10%;
        display: flex;
        flex-direction: row-reverse;
    }
}